@using MapGallery.Web.Models
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Map elements</title>
</head>
<body>
    <div>
        <h3>Cities</h3>
        <table>
            <tr>
                <td><p>Name</p></td>
                <td><p>FullName</p></td>
                <td><p>State</p></td>
                <td></td>
            </tr>
            @foreach (var b in ViewBag.Cities)
            {
                <tr>
                    <td><p>@b.Name</p></td>
                    <td><p>@b.FullName</p></td>
                    <td><p>@b.State</p></td>
                    <td><p><a href="/Home/Set/@State.Visited">Change status to Visited</a></p></td>
                </tr>
            }
        </table>
    </div>
</body>
</html>